.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* ------------------------------------------------------------------------------------------ */

:root {
  --calc-1: hsl(223, 31%, 20%);
  --calc-2: hsl(0, 5%, 81%);
  --calc-3: hsl(268, 71%, 12%);

  --main-1: hsl(222, 26%, 31%);
  --main-2: hsl(0, 0%, 90%);
  --main-3: hsl(268, 75%, 9%);

  --input-1: hsl(30, 25%, 89%);
  --input-2: hsl(45, 7%, 89%);
  --input-3: hsl(268, 47%, 21%);

  --input-shadow-1: hsl(28, 16%, 65%);
  --input-shadow-2: hsl(35, 11%, 61%);
  --input-shadow-3: hsl(285, 91%, 52%);

  --del-1: hsl(6, 63%, 50%);
  --del-2: hsl(25, 98%, 40%);
  --del-3: hsl(176, 100%, 44%);

  --del-shadow-1: hsl(6, 70%, 34%);
  --del-shadow-2: hsl(25, 99%, 27%);
  --del-shadow-3: hsl(177, 92%, 70%);

  --equ-1: hsl(225, 21%, 49%);
  --equ-2: hsl(185, 42%, 37%);
  --equ-3: hsl(281, 89%, 26%);

  --equ-shadow-1: hsl(224, 28%, 35%);
  --equ-shadow-2: hsl(185, 58%, 25%);
  --equ-shadow-3: hsl(290, 70%, 36%);

  --text-pri-1: hsl(221, 14%, 31%);
  --text-sec-1: #fff;

  --text-pri-2: hsl(60, 10%, 19%);
  --text-sec-2: hsl(60, 10%, 19%);

  --text-pri-3: hsl(52, 100%, 62%);
  --text-sec-3: hsl(52, 100%, 62%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
}

.calc-1 {
  background-color: var(--calc-1);
}

.calc-2 {
  background-color: var(--calc-2);
}

.calc-3 {
  background-color: var(--calc-3);
}

.main-1 {
  background-color: var(--main-1);
}

.main-2 {
  background-color: var(--main-2);
}

.main-3 {
  background-color: var(--main-3);
}

.input-1 {
  position: relative;
  background-color: var(--input-1);
}

.input-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--input-shadow-1);
}

.input-2 {
  position: relative;
  background-color: var(--input-2);
}

.input-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--input-shadow-2);
}

.input-3 {
  position: relative;
  background-color: var(--input-3);
}

.input-3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--input-shadow-3);
}

.text-pri-1 {
  color: var(--text-pri-1) !important;
}

.text-sec-1 {
  color: var(--text-sec-1) !important;
}

.text-pri-2 {
  color: var(--text-pri-2) !important;
}

.text-sec-2 {
  color: var(--text-sec-2) !important;
}

.text-pri-3 {
  color: var(--text-pri-3) !important;
}

.text-sec-3 {
  color: var(--text-sec-3) !important;
}

.del-1 {
  position: relative;
  background: var(--del-1) !important;
}

.del-shadow-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--del-shadow-1) !important;
}

.del-2 {
  position: relative;
  background-color: var(--del-2) !important;
}

.del-shadow-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--del-shadow-2) !important;
}

.del-3 {
  position: relative;
  background-color: var(--del-3) !important;
}

.del-shadow-3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--del-shadow-3) !important;
}

.equ-1 {
  position: relative;
  background-color: var(--equ-1) !important;
}

.equ-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--equ-shadow-1) !important;
}

.equ-2 {
  position: relative;
  background-color: var(--equ-2) !important;
}

.equ-2::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--equ-shadow-2) !important;
}

.equ-3 {
  position: relative;
  background-color: var(--equ-3) !important;
}

.equ-3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  bottom: -2.5px;
  right: 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--equ-shadow-3) !important;
}

.input {
  padding: 2em;
}

.mc {
  margin-left: 5px;
  margin-bottom: 15px;
}

.slider {
  padding: 8px;
  position: relative;
  margin-top: -15px;
  height: 20px;
  width: 60px;
  border-radius: 25px;
  cursor: pointer;
}

.slider-btn {
  position: absolute;
  left: 3px;
  bottom: 0;
  top: 3px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.theme-1 {
  margin-left: 0px;
}

.theme-2 {
  margin-left: 20px;
}

.theme-3 {
  margin-left: 40px;
}

.text-white {
  color: hsl(0, 0%, 90%) !important;
}

@media screen and (min-width: 766px) {
  .container {
    padding-left: 200px;
    padding-right: 200px;
  }
}

@media screen and (min-width: 1000px) {
  .container {
    padding-left: 330px;
    padding-right: 330px;
  }

  .mc-lg {
    margin-left: 50px !important;
  }
}
